<html ng-app="listaTelefonica">
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista Telefônica</title>
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
  <style>
    .jumbotron {
      width: 400px;
      text-align: center;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
    }

    .table {
      margin-top: 20px;
    }

    .form-control {
      margin-bottom: 5px;
    }

    .selecionado {
      background-color: #f0f790;
    }
  </style>
  <script src="../node_modules/angular/angular.js"></script>
  <script>
    angular.module("listaTelefonica", []);
    angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function ($scope) {
      $scope.app = "Lista Telefônica";
      $scope.contatos = [
        { nome: "David", telefone: "11111111" },
        { nome: "Janete", telefone: "22222222" }
      ];

      $scope.operadoras = [
        { name: "Oi", codigo: 14, categoria: "Celular" },
        { name: "Vivo", codigo: 15, categoria: "Celular" },
        { name: "Tim", codigo: 41, categoria: "Celular" },
        { name: "Embratel", codigo: 12, categoria: "Fixo" },
        { name: "GVT", codigo: 25, categoria: "Fixo" }
      ];

      $scope.adicionarContato = function (contato) {
        $scope.contatos.push(angular.copy(contato));
        delete $scope.contato;
      };

      $scope.removerContato = function (contatos) {
        $scope.contatos = contatos.filter(function (contato) {
          if (!contato.selecionado) return contato;
        });
      };

      $scope.isContatoSelecionado = function (contatos) {
        return contatos.some(function (contato) {
          return contato.selecionado;
        });
      };

    });

  </script>
</head>

<body ng-controller="listaTelefonicaCtrl">
  <div class="jumbotron">
    <h4>{{app}}</h4>
    <table class="table" ng-show="contatos.length > 0">
      <tr>
        <th></th>
        <th>Nome</th>
        <th>Telefone</th>
        <th>Operadora</th>
      <tr ng-class="{selecionado: contato.selecionado}" ng-repeat="contato in contatos">
        <td><input type="checkbox" ng-model="contato.selecionado"></td>
        <td>{{contato.nome}}</td>
        <td>{{contato.telefone}}</td>
        <td>{{contato.operadora.name}}</td>
      </tr>
      </tr>
    </table>
    <hr />

    <input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome" />
    <input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone" />
    <select class="form-control" ng-model="contato.operadora" ng-options="operadora.name for operadora in operadoras">
      <option value="">Selecione uma operadora...</option>
    </select>
    <button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)"
      ng-disabled="!contato.nome || !contato.telefone">Adicionar Contato</button>
    <button class="btn btn-danger btn-block" ng-click="removerContato(contatos)"
      ng-if="isContatoSelecionado(contatos)">Remover Contato</button>
  </div>
  <div ng-include="'./footer.html'"></div>
</body>

</html>